@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  
  background-color: #ED8936 !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  transition: all 0.2s;
  border-radius: 5px !important;
  width: 20px !important;
}
  
.body-content ul, .body-content ol {
  margin-left: 5px;
  list-style-type: disc;
  list-style-position: inside;
}

.body-content a {
  color: rgb(78, 149, 255);
}

.body-content h1 {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}

.body-content img {
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
}

.body-content p {
  margin-top: 10px;
}